@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme{
    --color-primary: #1c3faa;
}

@layer base {
    @font-face {
        font-family: "iran-yekan";
        src: url("/fonts/iranYekan/Qs_Iranyekan.ttf") format("truetype");
        font-display: swap;
        font-weight: 400;
    }

    @font-face {
        font-family: "iran-yekan";
        src: url("/fonts/iranYekan/Qs_Iranyekan bold.ttf") format("truetype");
        font-display: swap;
        font-weight: 700;
    }

    @font-face {
        font-family: "iran-yekan";
        src: url("/fonts/iranYekan/Qs_Iranyekan black.ttf") format("truetype");
        font-display: swap;
        font-weight: 900;
    }

    @font-face {
        font-family: "rokh";
        src: url("/fonts/rokh/RokhFaNum-Medium.woff2") format("woff2");
        font-display: swap;
        font-weight: 400;
    }

    @font-face {
        font-family: "rokh";
        src: url("/fonts/rokh/RokhFaNum-Bold.woff2") format("woff2");
        font-display: swap;
        font-weight: 700;
    }

    * {
        direction: rtl;
        font-family: "iran-yekan", "rokh", sans-serif;
    }

    .gradient-primary {
        background-image: linear-gradient(to right bottom, #1c3faa, #5382ff);
    }

    #nprogress .bar {
        background: var(--color-primary) !important;
    }

    #nprogress .peg {
        box-shadow: 0 0 10px var(--color-primary), 0 0 5px var(--color-primary) !important;
    }

    #nprogress .spinner-icon {
        border-top-color: var(--color-primary) !important;
        border-left-color: var(--color-primary) !important;
    }

    .track-2 path {
        stroke-width: 2px;
    }

    .track-3 path {
        stroke-width: 3px;
    }
}